.inputPassword {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 150px;
}

.superInput {
    padding: 5px;
    background: #F9F9FE;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    height: 30px;
}

.superInput:focus {
    background: white;
    box-shadow: 0 0 5px #7f8ab0;
    outline: none;
}

.errorInput {
    border: 2px solid red;
}

.error {
    color: red;
}
.eyeButton {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    padding-top: 9px;
    cursor: pointer;
}

