.forgot{
    display: flex;
    justify-content:end;
    color: rgb(110, 156, 177);
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
}
.forgot:hover {
    color: rgb(42, 140, 183);
}
.remember{
    color: #666e7c;
}
