.forgot {
    display: flex;
    justify-content: end;
    color: rgb(110, 156, 177);
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid white;
    margin: 50px auto;
    padding: 25px 33px 35px;
    position: relative;
    text-align: center;
    max-width: 413px;
    min-height: 450px;
    background: #F9F9FE;
    width: 420px;
}

.forgot:hover {
    color: rgb(42, 140, 183);
}

.remember {
    color: #202124;
}

.recommend {
    font-size: 10px;
    color: #202124;
    opacity: 0.8;
}