.tableMainBlock {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  color: #2D2E46;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding: 5px;
}

